<!doctype html charset="utf-8">
<html>
  <head>
    <title>希望日時閲覧ページ</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-widh, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../js/config/config.js"></script>
    <script src="../js/browsePage.js"></script>
    <link href="../css/page.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style> .container {text-align: center; background: #ffffff; margin-top: 100px; padding: 20px;} </style>
		<style> body {background-image: url("../img/corkboard.png"); } </style>
  </head>
  <body>
	<div class="container">
    <div ng-app="browsePage" ng-controller="pageCtrl">
      <h2>{{event_name}}</h2>
      <table class="table">
        <tr><th></th><th scope="row" ng-repeat="d in dates | orderBy: 'name'">{{ d }}</th></tr>
        <tr ng-repeat="name in participants">
					<td><button class="btn btn-default" ng-click="input()">{{ name }} <span class="glyphicon glyphicon-pencil"></span></button></td>
          <td class="{{ name }}-status" ng-repeat="d in dates">-</td>
        </tr>
      </table>
    </div>
    <div id="modal-input">
      <h3 id="name"></h3>
      <div class="date-area">
      </div>
      <div class="button-area">
      </div>
    </div>
	</div>
  </body>
</html>
